<br />
<% if user_signed_in? %>
<h3>Friends List</h3>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>First name</th>
      
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @friends.each do |friend|  %>
      <tr>
        <% if friend.user == current_user %>
        <td>
          
          <%= link_to friend.first_name + " " + friend.last_name, friend %>

          </td>
        
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        
        
        <td><%= link_to 'Edit', edit_friend_path(friend),class:"btn btn-warning" %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
          
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-success" %>
<% else %>
<h2>Please login to see your friends</h2>
<% end %>